<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <th:block th:replace="~{fragments/import}"/>
</head>
<body>

<main>
    <th:block th:replace="~{fragments/navbar}"/>
    <div class="container mx-auto text-center"
         th:with="favouritesPageUrl='/user/quotes/favourites', quotesPageUrl='/user/quotes/list-quotes'">
        <div class="box" th:if="${favourites}">
            <h1 class="text-4xl py-5">
                Favourites
            </h1>
        </div>
        <div class="box" th:unless="${favourites}">
            <h1 class="text-4xl py-5">
                My Quotes
            </h1>
        </div>

        <div class="box" th:if="${quotes.isEmpty()}">
            <h1 class="text-2xl py-5">
                This list is empty
            </h1>
        </div>

        <div th:fragment="quotes-container" id="quotes-container">
            <div th:each="quote : ${quotes}"
                 th:with="favouriteUrl=@{/user/quotes/remove-favourite(quoteId=${quote.getId()})}, quoteUrl=@{/user/quotes/remove-quote(quoteId=${quote.getId()})}">
                <div class="flex flex-row justify-center">
                    <div th:replace="~{fragments/quote-card :: quote_card(${quote})}"></div>
                </div>
                <div>
                    <button type="submit"
                            th:hx-post="${favourites} ? ${favouriteUrl} : ${quoteUrl}"
                            hx-target="#quotes-container"
                            hx-swap="outerHTML"
                            class="btn bg-error text-error-content hover:text-base-content mt-4">
                                <span class="icon">
                                    <i class="fa fa-trash"></i>
                                </span>
                    </button>
                </div>
                <div class="flex flex-row justify-center">
                    <div class="divider w-1/2"></div>
                </div>
            </div>
            <div class="mb-5">
                <div th:replace="fragments/pagination :: pagination(${favourites} ? ${favouritesPageUrl} : ${quotesPageUrl}, ${quotes})"></div>
            </div>
        </div>
    </div>
</main>
</body>
</html>