<!--/*@thymesVar id="quote" type="com._7aske.quotes.data.QuoteDto"*/-->
<div th:fragment="quote_card(quote)" class="quote-card card w-96 p-2 bg-primary text-primary-content border-4 border-accent" id="quote-card">
    <div class="flex flex-row-reverse content-between p-4 bg-accent shadow rounded-box">
        <button class="tooltip w-7"
                type="button"
                data-tip="Copy"
                th:data-url="@{/(quoteId=${quote.getId()})}"
                hx-on:click="copyToClipboard(this, window.location.origin + this.attributes['data-url'].value)">
                              <span class="icon">
                                <i class="fa fa-copy" th:data-quoteid="${quote.getId()}"></i>
                              </span>
        </button>
        <button th:hx-post="@{/user/quotes/add-favourite(quoteId=${quote.getId()})}"
                hx-swap="outerHTML"
                hx-target="#quote-card"
                hx-trigger="click"
                data-tip="Favourite"
                class="tooltip w-7">
                              <span class="icon">
                                <i th:classappend="${quote.isFavourite()} ? 'fa-solid fa-heart' : 'fa-regular fa-heart'"
                                   th:data-quoteid="${quote.getId()}"></i>
                              </span>
        </button>
    </div>
    <figure class="relative pt-3">
        <span class="loading loading-spinner loading-lg absolute m-auto"></span>
        <img class="rounded-full w-24 h-24 mx-auto invisible"
             loading="lazy"
             onload="this.previousElementSibling.classList.add('invisible'); this.classList.remove('invisible');"
             th:onerror="'this.onerror=null;this.src=\'https://ui-avatars.com/api/?name=[[${quote.getAuthor()}]]\''"
             th:src="${quote.getAuthorImage() ?: 'https://ui-avatars.com/api/?name=' + quote.getAuthor()}"
             alt="Author image">
    </figure>
    <div class="card-body">
<!--        <h2 class="card-title">Card title!</h2>-->
        <p class="text-justify" th:text="'“' + ${quote.getText() + '”'}">Quote
            text</p>
        <small class="text-left" th:text="${' ― ' + quote.getAuthor()}">Author</small>
        <br>
        <br>
        <small>
            added on
            <time th:text="${#temporals.format(quote.getCreatedDate(), 'd MMM yyyy')}"
                  datetime="2016-1-1">11:09 PM - 1 Jan 2016
            </time>
            by
            <span class="text-secondary hover:underline cursor-pointer" th:text="${quote.getAddedBy() ?: 'system'}">Added by</span>
        </small>
<!--        <div class="card-actions justify-end">-->
<!--            <button class="btn">Buy Now</button>-->
<!--        </div>-->
    </div>
</div>