<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <title>Quotes</title>
    <th:block th:replace="~{fragments/import}"/>
    <meta name="description" th:content="${#strings.abbreviate(quote.getText(), 64)}"/>
    <meta name="author" th:content="${quote.getAuthor()}"/>
    <meta name="title" >
    <meta property="og:title" content="Quote App"/>
    <meta property="og:description" th:content="${#strings.abbreviate(quote.getText(), 64)}"/>
    <meta property="og:image" th:content="${quote.getAuthorImage() ?: 'https://ui-avatars.com/api/?name=' + quote.getAuthor()}"/>
    <meta property="og:url" content="https://quote.7aske.com/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Quote App"/>
</head>
<body>
<main class="relative flex flex-col justify-center min-h-screen">
    <th:block th:replace="~{fragments/navbar}"/>
    <div class="hero w-full m-auto">
        <div class="hero-content text-center p-3">
            <div class="max-w-md">
                <div id="quote-card" th:fragment="quote-card">
                    <div th:replace="~{fragments/quote-card :: quote_card(quote=${quote})}"></div>
                </div>
                <div class="mt-10">
                    <button class="btn btn-outline"
                            hx-trigger="click"
                            hx-target="#quote-card"
                            hx-swap="outerHTML"
                            hx-get="/random">
                        RANDOM QUOTE
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>